body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}
h1 {
    text-align: center;
}

header {
    background-image: url("images/pexels-photo-1932264.jpeg");
    background-size: 100%;
    margin: 0px;
    padding: 50px;
    height: 100%;
}

div {
    margin: 20px;
}